.item_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #afeeee;
}

.container {
  max-width: 110rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14rem 3rem;
  margin: 0 auto;
}

.item_page section {
  border-radius: 12px;
}

.monster_info {
  background-color: white;
  width: 30%;
}

.item_info {
  width: 68%;
}

.monster_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monster_info h3 {
  font-size: 2rem;
}
